.fby{
    display:flex;
    justify-content: center;
    align-items: center;
    .fbyg{
        display:grid;
        padding-top:40px;
        grid-template-columns: 1fr;
        grid-auto-rows: 65px;
        align-items: center;
        .fbbtn{
            display:flex;
            align-items:center;
            justify-content: center;

        }
        .ggbtn{
            display:flex;
            align-items:center;
            justify-content: center;

        }
        .gitbtn{
            display:flex;
            align-items:center;
            justify-content: center;
            color:blue;

        }
        
    }
}
.auth-page-wrapper{
    display:grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 84px);
    .left-column{
        background-size: cover;
    }
    .right-column {
        display:flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 60px;
        
        
        background-color: $offwhite;
        .loggers{
            display:grid;
        grid-template-columns: 1fr;
        .emailer {
            display:flex;
            justify-content: center;
            
        }
        .hidder {
            display:flex;
            justify-content: center;
         
        }
            .face{
                display:flex;
                justify-content: center;
            }

        }
    }

}

    
        .socials{
            display:flex;
            justify-content: center;
            align-items: center;
            .social-grid{
                display: grid;
                grid-template-rows: 1fr 1fr;
    }
}

